[user]
	name = Augusto Altenhofen
	email = augustoaltenhofen@protonmail.com

[core]
	editor = nvim

[grep]
	linenumber = true
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
        forcepull = !git reset --hard main && git pull --rebase
	unstage = reset HEAD --
[github]
	user = altenhofen

