[user]
	name = Augusto Altenhofen
	email = augustoaltenhofen@protonmail.com

[core]
	editor = vim

[grep]
	linenumber = true
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
        forcepull = !git reset --hard main && git pull --rebase
[github]
	user = altenhofen

